@import url(https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap);
h1,
h2 {
  color: #000;
  font-weight: 700;
}
h2,
h3 {
  letter-spacing: 0.3rem;
  padding-bottom: 5rem;
}
.header-content,
.message-container {
  flex-direction: column;
  display: flex;
}
.title,
h1,
h2 {
  font-weight: 700;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  font-family: Montserrat, sans-serif;
}
h1 {
  font-size: 7rem;
  letter-spacing: 0.3rem;
}
h2 {
  font-size: 5rem;
}
h3 {
  font-size: 2rem;
  font-weight: 500;
  color: #000;
}
.title,
p {
  font-size: 3rem;
  color: #000;
}
p {
  font-weight: 300;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: #000;
}
header {
  position: relative;
  height: auto;
  width: 100%;
  margin-bottom: 3rem;
}
.header-content {
  align-items: center;
  justify-content: center;
}
.title {
  text-align: center;
  margin-top: 5rem;
}
.footer,
.footer p {
  color: #f4f4f4;
}
.logo {
  width: 500px;
  height: 500px;
}
.logo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.message-container {
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-bottom: 30rem;
}
.contact-container,
.contact-page {
  margin-bottom: 10rem;
}
.message-container .message h1 {
  margin-bottom: 1rem;
}
.message-container p {
  margin-bottom: 0.5rem;
}
.contact-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.timing {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
  font-size: 2rem;
  font-weight: 300;
}
.contact-next {
  display: flex;
  flex-direction: column;
  gap: 5rem;
}
.contact-next h4 {
  font-weight: 400;
  font-size: 2rem;
}
.contact-next h3 {
  font-weight: 500;
  font-size: 3rem;
}
.days,
.time {
  text-align: left;
}
.footer {
  background-color: #1c1f1c;
  padding: 2rem;
  text-align: center;
}
.social-media i {
  margin: 2rem;
}
.social-media a {
  color: #fff;
}
.social-media a:hover {
  color: grey;
}
@media screen and (max-width: 600px) {
  html {
    font-size: 35%;
  }
  header,
  section {
    padding: 0 3rem;
  }
  .logo {
    width: 60rem;
    height: 60rem;
  }
  .contact-next {
    flex-direction: column;
  }
}
